<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Média Aluno</title>
    <link rel="stylesheet" href="/static/styles/estilo.css">
</head>

<body>
    <nav>
        <header>
            <a  href="/">Sistema de Notas</a>
        |
            <a href="/consulta">Consulta de Notas</a>
        </header>
    </nav>
        
    <div class="cad_notas">
        <h2 class="titulo"> Sistema de Notas</h2>
    <div class="senai">
        <img src= "static/assets/senai.png" alt="imagemsenai">
    </div>
        <form action="/salvar_nota" method="post" class="cad_aluno_formulario">

            <label for=""> Nome do Aluno:</label>
            <input type="text" name="nome_aluno" id="nome_aluno">

            <label for="">Nota 1: </label>
            <input type="text" name="nota_1" id="nota_1">

            <label for="">Nota 2: </label>
            <input type="text" name="nota_2" id="nota_2">

            <label for="">Nota 3: </label>
            <input type="text" name="nota_3" id="nota_3">

        <div>
            <button type="submit" class="cad_alunos_lancar">Lançar</button>
        </div>

    </form>
    </div>
</body>
</html>